body{
    background: url('contbg.jpg') ;
	
}
#contacts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
    width:1000px;
    padding:20px;
    border-radius: 25px;
    
}
img:hover{
    transform: scale(1.2);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
#title{
    text-align: center;
    position: relative;
    top:20px;
    font-size: 70px;
    color:white;

}
hr{
    width:80%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    top:10px;
}
.text{
    color:white;
}
#back{
    position: absolute;
    left:85%;
    top:125px;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color:rgb(22, 39, 95);
    border-radius: 25px;
    padding:10px;
}