@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);
* {
    margin: 0;
    padding: 0;
    
    font-family: poppins, sans-serif;
  }
  body{
      background-image: url("hobbg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
  }
  h1{
      color:white;
      text-align: center;
      position: relative;
      top:20px;
      font-size: 50px;
      font-family: 'Cinzel Decorative', cursive ,bold;
  }
  .main-nav {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
  }
  
  .main-nav li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #000;
    transform: rotate(45deg);
    transition: 0.5s;
    margin: -100px;
    overflow: hidden;
    opacity: 0.3;
  }
  
  .main-nav li:hover {
    opacity: 1;
  }
  
  .main-nav li.item1 {
    top: 0;
    left: 0;
  }
  
  .main-nav li.item2 {
    bottom: 0;
    left: 25%;
  }
  
  .main-nav li.item3 {
    top: 0;
    left: 50%;
  }
  
  .main-nav li.item4 {
    bottom: 0;
    left: 75%;
  }
  
  .main-nav li.item5 {
    top: 0;
    left: 100%;
  }
  .main-nav li.item6 {
    top: -100%;
    left: 25%;
  }
  .main-nav li.item7 {
    top: -100%;
    left: 75%;
  }
  .main-nav li.item8 {
    top: 200%;
    left: 50%;
  }
  .main-nav li .bg {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
  }
  
  .main-nav li.item1 .bg {
    background: url("swimming.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item2 .bg {
    background: url("mic.jfif");
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item3 .bg {
    background: url("piano.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item4 .bg {
    background: url(novels.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item5 .bg {
    background: url(binge.jpg);
    background-size: cover;
    background-position: center;
  }
  .main-nav li.item6 .bg {
    background: url(art.jpg);
    background-size: cover;
    background-position: center;
  }
  .main-nav li.item7 .bg {
    background: url("https://imgur.com/ir9l1IJ.jpg");
    background-size: cover;
    background-position: center;
  }
  .main-nav li.item8 .bg {
    background: url(origami.jpg);
    background-size: cover;
    background-position: center;
  }
  #back{
    position: absolute;
    font-family: 'Cinzel Decorative', cursive ,bold;
    font-size: 35px;
    background-color: white;
    border-radius: 50%;
    left:1100px;
    top:30px;
    padding:20px;
    color:black;
}
  #back:hover{
    transform: scale(1.2);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
audio{
    position: absolute;
    top:90%;
    left:75%;
}
#collage{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-30%);
    visibility: hidden;  
    border-radius: 25px; 
    
}
#collage:target{
    visibility: visible;
    border-radius: 25px; 
}
.close {
  
  transition: all 200ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
  
  float:top;
}
.close:hover {
  color: #06D85F;
}
.main-nav li.item6 .bg p{
        transform: rotate(-45deg);
        position: absolute;
        color: rgb(255, 255, 255);
        font-size: 20px;;
        top:30px;
        left:0px;
        border-width: 3px;
        border-color: white;
        background-color:blue ;
        border-radius: 25px;;
        padding:5px;
}